* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

.logo {
  font-size: 70px;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3ab55;
  border-radius: 50%; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
